/.CastProcessor.java._trace
/.CastQuerySpecification.java._trace
/.CommonMoviesOfCoupleProcessor.java._trace
/.CommonMoviesOfCoupleQuerySpecification.java._trace
/.CommonMoviesToCoupleProcessor.java._trace
/.CommonMoviesToCoupleQuerySpecification.java._trace
/.CountOfCommonMoviesOfCoupleProcessor.java._trace
/.CountOfCommonMoviesOfCoupleQuerySpecification.java._trace
/.GroupSizeProcessor.java._trace
/.GroupSizeQuerySpecification.java._trace
/.MemberOfGroupProcessor.java._trace
/.MemberOfGroupQuerySpecification.java._trace
/.PersonNameProcessor.java._trace
/.PersonNameQuerySpecification.java._trace
/.PersonsToCoupleProcessor.java._trace
/.PersonsToCoupleQuerySpecification.java._trace
/.PersonsTo3CliqueProcessor.java._trace
/.PersonsTo3CliqueQuerySpecification.java._trace
/.PersonsTo4CliqueProcessor.java._trace
/.PersonsTo4CliqueQuerySpecification.java._trace
/.PersonsTo5CliqueProcessor.java._trace
/.PersonsTo5CliqueQuerySpecification.java._trace
