<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.ttc.imdb.queries.possibleNewMemberToGroup"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.PossibleNewMemberToGroupQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.possibleNewMemberToGroup">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.playedTogetherIn"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.PlayedTogetherInQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.playedTogetherIn">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.personsToCouple"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.PersonsToCoupleQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.personsToCouple">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.commonMoviesToCouple"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.CommonMoviesToCoupleQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.commonMoviesToCouple">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.couple"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.CoupleQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.couple">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.coupleWithRating"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.CoupleWithRatingQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.coupleWithRating">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.commonMoviesOfCouple"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.CommonMoviesOfCoupleQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.commonMoviesOfCouple">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.countOfCommonMoviesOfCouple"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.CountOfCommonMoviesOfCoupleQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.countOfCommonMoviesOfCouple">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.commonMoviesOfGroup"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.CommonMoviesOfGroupQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.commonMoviesOfGroup">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.memberOfGroup"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.MemberOfGroupQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.memberOfGroup">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.commonMovieOfGroupAndPerson"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.CommonMovieOfGroupAndPersonQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.commonMovieOfGroupAndPerson">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.nextCliques"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.NextCliquesQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.nextCliques">
      </matcher>
   </extension>

</plugin>
