<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.ttc.imdb.queries.playedTogetherIn"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.PlayedTogetherInQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.playedTogetherIn">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.personsToCouple"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.PersonsToCoupleQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.personsToCouple">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.personName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.PersonNameQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.personName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.ttc.imdb.queries.commonMoviesToCouple"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.ttc.imdb.queries.util.CommonMoviesToCoupleQuerySpecification$Provider"
            id="hu.bme.mit.ttc.imdb.queries.commonMoviesToCouple">
      </matcher>
   </extension>

</plugin>
